body {
    display:flex;
    flex-direction: column;
    margin:0;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}

.row {
    display:flex;
    flex:1;
    justify-content: space-evenly;
}

.col {
    display:flex;
    flex:1;
    background-color: red;
    width:100px;
    height:100px;
}